*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h3{
    font-weight: 600;
}

main.py-4{
    padding-top: 60px !important;
    padding-bottom: 0;
}

@media (min-width: 768px) {
    main.py-4 {
        padding-top: 79px !important;
    }
}