*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h3{
    font-weight: 600;
}

a:hover {
    text-decoration: none !important;
}

main.py-4{
    padding-top: 60px !important;
    padding-bottom: 0 !important;

    & > * {
        padding-bottom: 40px;
    }
}

.line {
    border-bottom: 2px solid $primary;
    margin: 10px 0 15px;
}

@media (min-width: 768px) {
    main.py-4 {
        padding-top: 79px !important;
    }
}