.create-container{
    margin-top: 50px;

    em {
        margin-left: 5px;
        color: crimson;
    }

    i {
        font-size: 10px;
        margin-left: 10px;
        color: crimson;
    }

    .title{
        width: 40%;
    }

    


    .services{
        margin-top: 20px;
    }

    .form-btn{
        width: 130px;
        margin: auto;
    }

    label {
        text-transform: capitalize;
    }
}
