.form-container {
    width: 100%;
    height: 75vh;
    padding-top: 150px;
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    background-image: url('public/imgs/back-img-2.jpg');

    .form-img {

        .card {
            width: 350px;
            margin: auto;
        }

        .card-body {
            width: 100%;
        }

        .img-btn{
            @include blu-btn;
            padding:5px 20px;
        }
    }
}
