a:hover {
   text-decoration: none;
}
#chevron-down {
   padding: 15px;
   position: relative;
}
#service-list {
   position: absolute;
   top: 70px;
   z-index: 25;
   flex-direction: column;
   border: 1px solid black;
   background-color: white;
   padding: 15px;
}
.filters-container {
   margin: auto;
   border-radius: 50px;
   align-items: center;
   background-color: white;
   padding: 5px 0;
   box-shadow: 0 0 10px $primary;
}
.input-search-map {
   padding: 0 20px;
   outline: 0px;
   border: none;
   border-right: 1px solid $primary;
   input {
      border: none;
      outline: 0px;
   }
   label {
      font-weight: bold;
   }
}
.range-styler {
   border: none;
   padding: 0 30px;
   border-right: 1px solid $primary;
}
.city-search {
   border-radius: 50px 0 0 50px;
}
.lens-icon {
   font-size: 20px;
   padding: 15px;
   background-color: $primary;
   border-radius: 50%;
   color: white;
   margin: 0 30px;
}
#searchForm {
   display: flex;
   position: relative;
   margin-top: 80px;
   padding: 20px;
   width: 100%;
   background-color: white;
}
.first-input {
   margin-top: 80px;
}
main#mymain.py-4 {
   padding-bottom: 0;
   position: relative;
}
html {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
*, *:before, *:after {
   box-sizing: inherit;
}
body {
   color: #707070;
   font-size: 14px;
   margin: 0;
   padding: 0;
}
a {
   text-decoration: none;
}
.container_map {
   position: relative;
}
.map {
   bottom: 0;
   left: 60%;
   position: absolute;
   top: 0;
   width: 40%;
   height: 100%;
}
.control-panel {
   -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
   height: 100%;
   left: 0;
   overflow: hidden;
   position: absolute;
   top: 0;
   width: 60%;
}
.heading {
   background: #fff;
   border-bottom: 1px solid #eee;
   -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
   box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
   position: relative;
   z-index: 1;
}
.heading>img {
   height: auto;
   margin: 10px 0 8px 0;
   width: 150px;
}
#store-list {
   height: 100%;
   overflow: auto;
}
#store-list .list-entries-container .list-entry {
   border-bottom: 1px solid #E8E8E8;
   display: flex;
   padding: 10px 50px 10px;
}
#store-list .list-entries-container .list-entry:nth-of-type(even) {
   background-color: #F5F5F5;
}
#store-list .list-entries-container .list-entry:hover,
#store-list .list-entries-container .list-entry.selected {
   background-color: rgba($color: #000000, $alpha: 0.1);
}
.ui-accordion h3.ui-accordion-header {
   background-color: #F4F6F8;
   border-color: #DDDFE0;
   border-style: solid;
   border-width: 0 0 3px 0;
   color: #707070;
   display: block;
   font-size: 1.143em;
   margin: 0;
   padding: 15px 20px;
}
.ui-accordion h3.ui-accordion-header.ui-state-active {
   color: #fff;
   background-color: #BDD731;
   border-bottom-color: #A2BA24;
}
.ui-accordion .ui-accordion-content {
   border: none;
   padding: 0;
}
.ui-icon,
.ui-widget-content .ui-icon {
   margin-right: 15px;
}
@media only screen and (max-width: 1200px) {
   .input-search-map {
      width: 100px;
   }
 }
 @media only screen and (max-width: 768px) {
   .input-search-map {
      padding-left: 10px;
      padding-right: 5px;
      width: 65px;
   }
   .lens-icon {
      margin-left: 30px;
      margin-right: 10px;
   }
   canvas {
      width: 1000px !important;
   }
   .mapboxgl-marker {
      display: none;
   }
   .control-panel {
      width: 100%;
   }
   .range-styler {
      width: 140px;
      padding: 0 10px;
   }
 }
 @media only screen and (max-width: 600px) {
   .lens-icon {
      margin-left: 10px;
      margin-right: 10px;
   }
 }