#message {
    background-repeat: no-repeat;
    background-position: cover;
    background-image: url('public/imgs/back-img-3.jpg');
    height: calc(100vh - 80px);

    & > .container {
        padding-top: 35px;
    }

    .object {
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 800;
        flex-grow: 1;
    }
    .details {
        text-align: right;
        p {
            margin-bottom: 0;
        }
    }

}

@media (max-width: 767px) {
    #message {
        height: calc(100vh - 59px);
    }
}