#messages {
    background-repeat: no-repeat;
    background-position: cover;
    background-image: url('public/imgs/back-img-2.jpg');

    .row {
        justify-content: space-evenly;
    }
    .dash-container {
        padding-top: 30px;
        .dash-card {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            // padding: 20px;
            background-color: $primary;
            color: $body-bg;
            .dash-title {
                text-transform: capitalize;
                margin: 0;
            }
    
            a {
                color: $body-bg;
                font-size: 16px;
            }
            
        }
    
        .dash-body {
            height: 75vh;
            overflow: auto;
    
            .accomodation-card {
                padding: 15px 0;
    
                .card-body {
                    width: 100%;
                    .card-title {
                        text-transform: capitalize;
                    }
                    p {
                        height: 100px;
                        overflow: auto;
                    }
                }
            }
    
        }
    
        .card-text {
            display: flex;
            flex-direction: column;
            align-content: space-between;
        }
    
        .accomodation-btn{
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 100%;
            align-items: center;
            .card-btn {
                // width: 130px;
                @include blu-btn;
            }
            .danger {
                @include red-btn;
            }
        }
        .prova {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            p {
                flex-grow: 1;
                overflow: auto;
                max-height: 210px;
                text-overflow: ellipsis;
                margin: 0;
                padding-bottom: 10px;
            }
        }
    }    
}

