section.my-slider {

   .box-height {
      height: 400px;
      width: 100%;
   }

   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px;
   }

   .col-12.col-md-10 {
      margin: 0 auto;
   }

   .container-chevron {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      background: rgba(0,0,0,.4);
      width: 40px;
      height: 40px;
      border-radius: 5px;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      cursor: pointer;
   }
   .container-chevron:hover i.fas {
      zoom: 1.25;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
   }

   .row.mt-4.mb-4 {
         position: relative;
      }

      .arrow {
         position: absolute;
         transform: translate(-50%,-50%);
         z-index: 1;
         top: 50%;
      }
      .left-arrow {
         left: 45px;
      }
      .right-arrow {
         right: 45px;
      }

   @media (max-width: 575px) {
      .box-height {
         height: 150px;
      }
   }
}

.row-my-panel {
   margin-bottom: 25px;
}

.my-panel {
   border: 2px solid $primary;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px 8px;
   margin: 0 auto;

   a:hover {
      text-decoration: none;
   }

   .panel-item {
      position: relative;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      width: 45px;
      height: 45px;
      border: 2px solid $primary;
      background: transparent;
      color: $primary;
      font-weight: bold;
      font-size: 20px;
      border-radius: 5px;
      transition: all 0.3s;

      .notify {
         background: red;
         color: #fff;
         width: 22px;
         height: 22px;
         font-size: 14px;
         border-radius: 50%;
         position: absolute;
         top: -10px;
         right: -10px;
         text-align: center;
         line-height: 20px;
         border: 1px solid black;
      }
   }

   .panel-item:hover {
      top: -5px;
   }

   .panel-item.no-effect {
      top: 0;
   }

   .panel-item.no-effect.sponsor {
      cursor: not-allowed;
   }
}

i.fas.fa-circle {
   font-size: 6px;
   margin-right: 10px;
}

.row.my-visibility {

   .inline-block {
      display: inline-block !important;
   }
}