#blu-btn {
   @include blu-btn;
   display: inline-block;
   padding-bottom: 10px;
   position: absolute;
   top: 90px;
   left: 10px;
   z-index: 2;
}

#myViews, #myMessages {
   background-color: #fff;
   border-radius: 5px;
   padding: 5px;
   max-width: 100%;
}

@media (max-width: 768px) {

   div.stat-container{
    padding-bottom: 20px;
   }
}

.stat-container{
   //  background-image: url(imgs/back-img-4.jpg);
   //  @include background-page;
   //  height: calc(100vh - 89px) !important;
    width: 100%;
    height: calc(100vh - 23px);
    padding-top: 150px;
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    background-image: url('public/imgs/back-img-4.jpg');

   .card.dash-card {
      background-color: transparent;
   }

   .card-header {
      border: 2px solid $primary;
   }

    .stat-card{
        padding: 40px;

        .row .col-12 {
           margin-bottom: 25px;
        }
    }
}
